*{
    padding : 0;
    margin : 0;
}

body{
    background-size: repeat;
}
#tab{
    color: rgb(19, 17, 17);
    margin-top: 8%;
    margin-bottom: 40%;
    background-color: thistle;
    font-size: larger;
    border: 5px solid white;

}
/* #q{
    border: 5px solid black;
} */